{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}
{% block body_block %}
    <h1>Rango say...</h1>
    <p> visits: {{ visits }}</p>
    <p> last_visit: {{ last_visit }}</p>
    <div>
        <strong>{{ boldmessage }}</strong>
    </div>
    <button class="btn btn-primary"
            onClick="alert('You clicked the button using JavaScript.---onclick');"> Click Me - I run JavaScript
    </button>
    <hr/>
    <button class="btn btn-primary" id="about-btn"> Click Me - I'm JavaScript on Speed---#id</button>
    <hr/>
    <button class="ouch"> Click Me - I'm JavaScript on Speed--.class</button>
    <p>This is a example</p>
    <p>This is another example</p>
    <div id="msg">Hello - I'm here for a JQuery Example too</div>
    <div>
        <img src="{{ MEDIA_URL }}cat.jpg">
    </div>
{% endblock %}

