{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Index
{% endblock %}
{% block body_block %}
    <div class="blog-post">
        {#        <div class="col-lg-6"><h4>Most Liked Categories</h4>#}
        {#            <p>#}
        {#                {% if categories %}#}
        {#                    <ul class="list-group">#}
        {#                        {% for category in categories %}#}
        {#                            <li class="list-group-item"><a href="{% url 'rango:show_category' category.slug %}">#}
        {#                                {{ category.name }}</a>#}
        {#                                {% if category.likes > 1 %}#}
        {#                                    <span class="badge badge-pill badge-primary"#}
        {#                                          style="float: right">{{ category.likes }} likes</span>#}
        {#                                {% elif category.likes == 1 %}#}
        {#                                    <span class="badge badge-pill badge-primary"#}
        {#                                          style="float: right">{{ category.likes }} like</span>#}
        {#                                {% elif category.likes == 0 %}#}
        {#                                    <span class="badge badge-pill badge-primary" style="float: right">0 like</span>#}
        {#                                {% endif %}#}
        {#                            </li> {% endfor %}#}
        {#                    </ul>#}
        {#                {% else %}#}
        {#                    <strong>There are no categories present.</strong> {% endif %}#}
        {#            </p>#}
        {#        </div>#}
        {% if pages %}
            {% for page in pages %}
                <h2 class="blog-post-title"><a href="{% url 'rango:goto' %}?page_id={{ page.id }}">{{ page.title }}</a>
                </h2>
                {#                <ol class="list-unstyled"><a href="{{ page.url }}"></a>#}
                <p class="blog-post-meta">{{ page.pub_time }}</p>
                <p class="blog-post-meta">
                    {% if page.views > 1 %}
                        <span class="badge badge-pill badge-primary"
                              style="float: right">{{ page.views }} views</span>
                    {% elif page.views == 1 %}
                        <span class="badge badge-pill badge-primary"
                              style="float: right">{{ page.views }} view</span>
                    {% elif page.views == 0 %}
                        <span class="badge badge-pill badge-primary" style="float: right">0 view</span>
                    {% endif %}
                </p>
                <br/>
                {#                </ol>#}
                <div>
                    {{ page.content }}
                </div>
                <hr/>
            {% endfor %}
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
        </nav>
    </div>
{% endblock %}